:root {
	--text-color: hsl(0, 0%, 90%);
	--bg-color: hsl(0, 0%, 15%);
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: Ubuntu;
	vertical-align: baseline;
}

html {
	height: 100%;
}

body {
	color: var(--text-color);
	background-color: var(--bg-color);
	height: 100%;
	filter: blur(10px);
	transition: filter 250ms ease;
}

main {
	display: flex;
	flex-direction: column;
	overflow-x: hidden;
	overflow-y: scroll;
}
