.list-anime-mini {
	display: grid;
	grid-template-columns: repeat(auto-fill, 250px);
	grid-gap: 1em;
	padding: 1em;
}

anime-mini {
	border-radius: 3px;
	padding: 1em;
	display: flex;
	flex-direction: column;
	position: relative;
	padding-top: 56.25%;
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0.1);
}

anime-mini:hover {
	cursor: pointer;
}

anime-mini p {
	text-align: center;
}

anime-mini img {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: -1;
}
